---
Checks: >
  cppcoreguidelines-owning-memory,
  clang-analyzer-cplusplus.NewDeleteLeaks
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key: cppcoreguidelines-owning-memory.OwnerType
    value: 'gsl::owner'
  - key: cppcoreguidelines-owning-memory.OwnerNamespace
    value: 'gsl'

ExtraArgs:
  - -std=c++20
  - -I/usr/local/boost/1.89.0/include
